.lg-cart-wrap
  .cart-product-group.lg-cart-product-group
    .lg-cart-title-group
      .cart-title.lg-cart-title.cart-main-title 購物車(3)
      .cart-title.lg-cart-title.cart-num-title 數量
      .cart-title.lg-cart-title.cart-ptice-title 單價
      .cart-title.lg-cart-title.cart-total-title 小計
      .cart-title.lg-cart-title.cart-blank
    .cart-item-group.lg-cart-item-group
      //- .cart-product-item.lg-cart-product-item
      //-   .cart-item-left-info
      //-     img.cart-item-photo
      //-     .cart-item-text
      //-       .cart-item-title 前開衩扭結洋裝
      //-       .cart-item-number 03040047
      //-       .cart-item-color 顏色 | 白
      //-       .cart-item-size 尺寸 | M
      //-   .cart-item-num.lg-cart-item-num
      //-     .style-select
      //-       select.lg-select
      //-         option(value=1 name=1) 1
      //-   .cart-item-price.lg-cart-item-price NT.590
      //-   .cart-item-total.lg-cart-item-total NT.590
      //-   .cart-item-delete.lg-cart-item-delete
      //-     img(src="images/cart-remove.png", alt="delete")
      //- .cart-product-item.lg-cart-product-item
      //-   .cart-item-left-info
      //-     img.cart-item-photo
      //-     .cart-item-text
      //-       .cart-item-title 前開衩扭結洋裝
      //-       .cart-item-number 03040047
      //-       .cart-item-color 顏色 | 白
      //-       .cart-item-size 尺寸 | M
      //-   .cart-item-num.lg-cart-item-num
      //-     .style-select
      //-       select
      //-         option(value=1 name=1) 1
      //-   .cart-item-price.lg-cart-item-price NT.590
      //-   .cart-item-total.lg-cart-item-total NT.590
      //-   .cart-item-delete.lg-cart-item-delete
      //-     img(src="images/cart-remove.png", alt="delete")
      //- .cart-product-item.lg-cart-product-item
      //-   .cart-item-left-info
      //-     img.cart-item-photo
      //-     .cart-item-text
      //-       .cart-item-title 前開衩扭結洋裝
      //-       .cart-item-number 03040047
      //-       .cart-item-color 顏色 | 白
      //-       .cart-item-size 尺寸 | M
      //-   .cart-item-num.lg-cart-item-num
      //-     .style-select
      //-       select
      //-         option(value=1 name=1) 1
      //-   .cart-item-price.lg-cart-item-price NT.590
      //-   .cart-item-total.lg-cart-item-total NT.590
      //-   .cart-item-delete.lg-cart-item-delete
      //-     img(src="images/cart-remove.png", alt="delete")