.sm-cart-wrap
  .cart-product-group.sm-cart-product-group
    .sm-cart-title-group
      .cart-title.sm-cart-title.cart-main-title 購物車(3)
    .cart-item-group.sm-cart-item-group
      //- .cart-product-item.sm-cart-product-item
      //-   .cart-item-top-info
      //-     img.cart-item-photo
      //-     .cart-item-text
      //-       .cart-item-title 前開衩扭結洋裝
      //-       .cart-item-number 03040047
      //-       .cart-item-color 顏色 | 白
      //-       .cart-item-size 尺寸 | M
      //-     .cart-item-delete.sm-cart-item-delete
      //-       img(src="images/cart-remove.png", alt="delete")
      //-   .cart-item-bottom-info
      //-     .cart-item-bottom-block
      //-       .cart-item-bottom-title 數量
      //-       .cart-item-bottom-title 單價
      //-       .cart-item-bottom-title 小計
      //-     .cart-item-bottom-block
      //-       .cart-item-num.cart-item-bottom-value
      //-         .style-select
      //-           select
      //-             option(value=1 name=1) 1
      //-       .cart-item-price.cart-item-bottom-value NT.590
      //-       .cart-item-total.cart-item-bottom-value  NT.590

      //- .cart-product-item.sm-cart-product-item
      //-   .cart-item-top-info
      //-     img.cart-item-photo
      //-     .cart-item-text
      //-       .cart-item-title 前開衩扭結洋裝
      //-       .cart-item-number 03040047
      //-       .cart-item-color 顏色 | 白
      //-       .cart-item-size 尺寸 | M
      //-     .cart-item-delete.sm-cart-item-delete
      //-       img(src="images/cart-remove.png", alt="delete")
      //-   .cart-item-bottom-info
      //-     .cart-item-bottom-block
      //-       .cart-item-bottom-title 數量
      //-       .cart-item-bottom-title 單價
      //-       .cart-item-bottom-title 小計
      //-     .cart-item-bottom-block
      //-       .cart-item-num.cart-item-bottom-value
      //-         .style-select
      //-           select
      //-             option(value=1 name=1) 1
      //-       .cart-item-price.cart-item-bottom-value NT.590
      //-       .cart-item-total.cart-item-bottom-value  NT.590
      

    