extends layout.pug
block main
  // loader start //
  include includes/load/starter/load.pug
  // loader end //
  include includes/header/header.pug
  main.main-container
    .hero-image-group
      .hero-image-wrap
      //- .hero-image-area
      //-   .hero-image
      //-   .hero-text
      //-     .main-text
            //- span 於是 
            //- span 我也想要給你 
            //- span 一個那麼美好的自己。
          .sub-text 
          //- span 不朽《與自己和好如初》
      .dot-wrap
        //- .dot
        //- .dot
        //- .dot
    .home-product-group
      .home-product-group-inner
        //- .home-product
        //-   .home-product-img
        //-   .color-group
        //-     .color-block
        //-   .home-product-title 後鬆緊牛仔落地寬褲
        //-   .home-product-price TWD.590
        //- .home-product
        //-   .home-product-img
        //-   .color-group
        //-     .color-block
        //-   .home-product-title 前開衩扭結洋裝
        //-   .home-product-price TWD.690
        //- .home-product
        //-   .home-product-img
        //-   .color-group
        //-     .color-block
        //-   .home-product-title 涼感垂墜絲滑寬
        //-   .home-product-price TWD.430
        //- .home-product
        //-   .home-product-img
        //-   .color-group
        //-     .color-block
        //-   .home-product-title 腰鬆緊棉麻褲裙
        //-   .home-product-price TWD.590
        //- .home-product
        //-   .home-product-img
        //-   .color-group
        //-     .color-block
        //-   .home-product-title 前開衩扭結洋裝
        //-   .home-product-price TWD.590
        //- .home-product
        //-   .home-product-img
        //-   .color-group
        //-     .color-block
        //-   .home-product-title 透肌澎澎連袖防曬上衣
        //-   .home-product-price TWD.590
  include includes/footer.pug
  script(src="js/logIn.js")
  script(src="js/main.js")
  script(src='js/animate.js')   
  script(src="js/home/main.js")
  script(src="js/home/slide.js")
