.page-load-container
  .page-load-contents
    .page-load-word-container
      include text1.pug
    .page-load-word-container
      include text2.pug
    .page-load-word-container
      include text3.pug
    .page-load-word-container
      include text4.pug
    .page-load-word-container
      include text5.pug
      svg.circleI(height="12" width="100%")
        circle.stroke(cx=10 cy=10 r=4)
        defs
          linearGradient#Gradient1(x1="0" x2="0" y1="0" y2="1")
            stop.stop1(offset="0%")
            stop.stop2(offset="0%")
    .page-load-word-container
      include text6.pug
    .page-load-word-container
      include text7.pug