
$light-text: #9b9b9b;
$black: #313538;
$light-black : lighten($black,20%);
$dark-black: darken($black,20%);
$white: #ffffff;
$gray-white: #f5f5f5;
$primary: #b27933;
$gray: #828282;
$max-width: 1200px;
$light-gray: lighten($gray,30%);
$drak-primary: darken($primary,5%);

$side-text: #808080;
$text: #333;
$emphasize-text: #383838;
$input-border: #d3d3d3;
$decor-line: #e8e8e8;

