//個別商品
// 一行2個
@media screen and (max-width: 575px) {
  .home-product {
    flex-basis: calc((100% - 24px) / 2);
    margin-left: 6px;
    margin-right: 6px;
    margin-bottom: 1.5rem;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  .home-product {
    flex-basis: calc((100% - 32px) / 2);
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 1.5rem;
  }
}
// 一行3個
@media screen and (min-width: 768px) {
  .home-product {
    flex-basis: calc((100% - 4.8rem) / 3);
    margin-left: 0.8rem;
    margin-right: 0.8rem;
    margin-bottom: 2rem;
  }
}
@media screen and (min-width: 1600px) {
  .home-product {
    flex-basis: calc((100% - 6rem) / 3);
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
