//標題與價格
.home-product-title,.home-product-price {
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 1rem;
  letter-spacing: 0.2rem;
}
.home-product-title {
  padding-bottom: 0.5rem;
}

@media screen and (max-width: 575px) {
  .home-product-title,.home-product-price {
    font-size: 0.86rem;
    letter-spacing: 1px;
  }
}